# Maven target directory
target/

# Eclipse IDE files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# NetBeans IDE files
nbproject/
nb-configuration.xml

# Build artifacts
build/
pom.xml.releaseBackup
pom.xml.tag
release.properties

# Miscellaneous
.DS_Store
*.log
